<div class="container">
  <div class="user-details">
    <h3> Who Am I ?</h3>
    <p> I am Developer and an Aspiring Computer Science Engineer from Kerala, India. Also the Co-Founder of RoundMelon Studio. I love playing Cricket and Blogging.</p>
  </div>
 
  <div class="user-details">
 <h3>What I 
   <p> I like to create and build Apps with a different perspective. I am more onto coding for humans rather than coding for Computers. I am Full Stack Developer who also tries a litlle  bit of Designing. Thats Pretty much about me,/p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>I create beautiful eye catching designs with these powerful tools.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-rails-plain colored"></i>
      <!-- <i class="devicon-nodejs-plain colored"></i> -->
      <p>I am comfortable working with these technologies.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-coffeescript-original-wordmark colored"></i>
      <p>I use git for version control , gulp for workflow and Coffee Script for efficient JS.</p>
    </div>
  </div>
</div>
