<div class="container">
  <div class="user-details">
    <h3> Who Am I ?</h3>
    <p> I am Developer and an Aspiring Computer Science Engineer from Kerala, India. Also the Co-Founder of RoundMelon Studio. I spent most of time on my Computer. When I'm not coding, you can find me playing Cricket or Blogging</p>
  </div>
 
  <div class="user-details">
 <h3>What I do? </h3>
   <p> I create and build Apps like every other Developer but with a different perspective. I am more onto coding for humans rather than coding for Computers. <br> I am a big fan of trying out things rather than sticking onto specific domain or niche to get my message to the people. Yes , I am a <b>Vivid Developer with a Soul.</b></p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>I create beautiful eye catching designs with these powerful tools.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-rails-plain colored"></i>
      <!-- <i class="devicon-nodejs-plain colored"></i> -->
      <p>I am comfortable working with these technologies.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-coffeescript-original-wordmark colored"></i>
      <p>I use git for version control , gulp for workflow and Coffee Script for efficient JS.</p>
    </div>
  </div>
</div>
